@model LoggedOutViewModel

@{
    // set this so the layout rendering sees an anonymous user
    ViewData["signed-out"] = true;
}

<div class="page-header logged-out">
    <h1>
        Logout
        <small>You are now logged out</small>
    </h1>

    @if (Model.PostLogoutRedirectUri != null)
    {
        <div>
            Click <a class="PostLogoutRedirectUri" href="@Model.PostLogoutRedirectUri">here</a> to return to the
            <span>@Model.ClientName</span> application.
        </div>
    }

    @if (Model.SignOutIframeUrl != null)
    {
        <iframe width="0" height="0" class="signout" src="@Model.SignOutIframeUrl"></iframe>
    }
</div>

@section jsSection
{
    <script language="javascript">
        $(document).ready(function () {
            function jump(count) {
                window.setTimeout(function () {
                    count--;
                    if (count > 0) {
                        $('#num').attr('innerHTML', count);
                        jump(count);
                    } else {
                        location.href = $(".PostLogoutRedirectUri").attr("href");
                    }
                }, 1000);
            }
            jump(1);
        });
    </script>
    @if (Model.AutomaticRedirectAfterSignOut)
    {
        <script src="~/js/signout-redirect.js"></script>
    }
}
